<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= player.name %>'s Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
    .player-photo {
      background-color: #f0f0f0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .stat {
      font-size: 0.85rem;
      background-color: #f8f9fa;
      padding: 0.25rem 0.5rem;
      border-radius: 0.2rem;
      margin-bottom: 0.5rem;
    }
    .stat-label {
      text-align: center;
      background-color: #007bff;
      color: white;
      padding: 0.25rem 0.5rem;
      border-radius: 0.2rem;
      margin-bottom: 0.5rem;
    }
    .tooltip-btn {
      text-decoration: none;
      margin-left: 5px;
    }
  </style>
</head>

<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-4 mb-md-0">
            <!-- Photo Thumbnail that triggers the modal -->
            <div class="player-photo" data-toggle="modal" data-target="#playerPhotoModal"></div>
            <div class="modal fade" id="playerPhotoModal" tabindex="-1" role="dialog" aria-labelledby="playerPhotoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="playerPhotoModalLabel">Player Photo</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- This is where you'll put the enlarged photo. -->
                      <!-- You can dynamically load this via JavaScript or directly inside the img src attribute -->
                      <img src="path-to-enlarged-player-photo.jpg" alt="Player Photo" class="img-fluid">
                    </div>
                  </div>
                </div>
            </div>


          </div>
          <div class="col-12 col-md-8">
            <h3 class="mb-3">PLAYER NAME</h3>
            <div class="row">
              <div class="col-6 col-md-3 mb-3">
                <div class="stat-label">POSITION</div>
                <div class="stat">...</div>
              </div>
              <div class="col-6 col-md-3 mb-3">
                <div class="stat-label">AGE</div>
                <div class="stat">...</div>
              </div>
              <div class="col-6 col-md-3 mb-3">
                <div class="stat-label">HEIGHT</div>
                <div class="stat">...</div>
              </div>
              <div class="col-6 col-md-3 mb-3">
                <div class="stat-label">WEIGHT</div>
                <div class="stat">...</div>
              </div>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">
                      <span data-toggle="tooltip" data-placement="top" title="Total time the player has been in the game">TIME PLAYED</span>
                    </th>
                    <th scope="col">
                      <span data-toggle="tooltip" data-placement="top" title="Points Per Game">PPG</span>
                    </th>
                    <th scope="col">
                      <span data-toggle="tooltip" data-placement="top" title="Assists Per Game">APG</span>
                    </th>
                    <th scope="col">
                      <span data-toggle="tooltip" data-placement="top" title="Rebounds Per Game">RPG</span>
                    </th>
                  </tr>
                </thead>
                <tbody id="attendanceBody">
                  <!-- Attendance rows will be inserted here -->
                </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Initialize tooltips
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</body>
</html>
